# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Display Wrapper Snippets'
      'command': 'selection-wrapper:display-wrapper-snippets-for-selection'
    }
  ]
